body {
  background-color: rgb(233, 230, 230);
}

.main-section {
  background-color: rgb(233, 230, 230);
  width: 70%;
  margin: 10% 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.todo-container {
  background-color: white;
  padding: 10px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 10px;
}

.heading {
  color: gray;
  font-size: 30px;
  letter-spacing: 8px;
}

#loading {
  color: gray;
  cursor: pointer;
}

#add-list-form {
  background-color: white;
  display: flex;
}

#add-list-form input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 18px;
  outline: none;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.task-container li {
  list-style: none;
}

.container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 9px;
}

.descr {
  font-size: 18px;
}

.icon-container {
  color: gray;
}

.completed {
  background-color: rgb(233, 230, 230);
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
